<section>
  <div class="page-header">
    <h1>Alerts</h1>
  </div>
  <div tasty-table bind-resource-callback="vm.getResource" bind-init="vm.init"   bind-filters="vm.filterBy" watch-resource="collection" class="container">
    <table data-ng-show="rows.length !== 0" class="table ng-tasty table-striped">
      <thead tasty-thead bind-not-sort-by="vm.notSortBy">
      </thead>
      <tbody>
        <tr data-ng-repeat="(index,alert) in rows">
          <td data-ng-bind="alert.name"></td>
          <td data-ng-bind="alert.typeId"></td>
          <td data-ng-bind="alert.paramLabel"></td>
          <td data-ng-bind="alert.rule"></td>
          <td data-ng-bind="alert.value"></td>
          <td ng-repeat="(key, period) in vm.alertPeriods" ng-if="period.value==alert.period" data-ng-bind="period.name"></td>
          <td ng-repeat="(key, status) in vm.alertStatus" ng-if="status.value==alert.status" data-ng-bind="status.name"></td>
          <td>
            <div>
              <a class="btn btn-primary btn-sm"
                 data-ui-sref="alerts.edit({ alertId: alert._id })">
                <i class="glyphicon glyphicon-edit"></i>
              </a>
              <a class="btn btn-primary btn-sm" data-ng-click="vm.remove(alert._id)">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div tasty-pagination data-ng-show="rows.length !== 0"></div>
  </div>

  <div class="alert alert-warning text-center" data-ng-if="vm.alerts.$resolved && !vm.alerts.length">
    There are no alerts
  </div>
</section>
