<section>
  <div class="page-header">
    <h1>Notifications</h1>
  </div>


  <div tasty-table bind-resource-callback="vm.getResource" bind-init="vm.init"   bind-filters="vm.filterBy" watch-resource="collection" class="container">
    <table data-ng-show="rows.length !== 0" class="table ng-tasty table-striped">
      <thead  tasty-thead bind-not-sort-by="vm.notSortBy">
      <tr>
      </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="(index,message) in rows">
          <td data-ng-bind="message.adset[0].alerts"></td>
          <td data-ng-bind="message.adset[0].ids"></td>
          <td data-ng-bind="message.adset[0].names"></td>
          <td data-ng-bind="message.status"></td>
          <td data-ng-bind="message.type"></td>
          <td data-ng-bind="message.message"></td>
          <td data-ng-bind="message.user.displayName"></td>
          <td>{{message.created | date :  "dd.MM.y hh:mm:ss" }}</td>
        </tr>
      </tbody>
    </table>
    <div tasty-pagination data-ng-show="rows.length !== 0"></div>
  </div>

   <div class="alert alert-warning text-center" data-ng-if="vm.messages.$resolved && !vm.messages.length">
     There are no messages
  </div>
</section>
