<section>
  <div class="page-header">
    <h1>Ad Accounts</h1>
  </div>
  <div  tasty-table bind-resource-callback="vm.getResource" bind-init="vm.init"   bind-filters="vm.filterBy" watch-resource="collection" class="container">
    <table data-ng-show="rows.length !== 0 || vm.filterBy.account_name" class="table table-striped ng-tasty">
      <thead tasty-thead>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td> <input type="text" class="form-control input-sm ng-tasty-filter" placeholder="filter by Account Name" ng-model="vm.filterBy.account_name" /></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr data-ng-repeat="(index,row) in rows">
          <td data-ng-bind="row.account_id"></td>
          <td data-ng-bind="row.account_name"></td>
          <td ng-repeat="value in vm.status" ng-if="value.status==row.status" data-ng-bind="value.label"></td>
          <td data-ng-bind="row.user.displayName"></td>
          <td>
            <div>
              <a class="btn btn-primary btn-sm" data-ng-click="vm.remove(index)">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </div>
          </td>
      </tr>
      </tbody>
    </table>
    <div tasty-pagination data-ng-show="rows.length !== 0 || vm.filterBy.account_name"></div>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.adaccounts.$resolved && !vm.adaccounts.length">
    There are no Ad Accounts.
  </div>
</section>
