<section>
  <div class="page-header">
    <h1>Notification Events</h1>
  </div>
  <div tasty-table bind-resource-callback="vm.getResource" bind-init="vm.init"   bind-filters="vm.filterBy"  watch-resource="collection"  class="container">
    <table data-ng-show="rows.length !== 0" class="table ng-tasty">
      <thead tasty-thead bind-not-sort-by="vm.notSortBy">
      </thead>
      <tbody>
        <tr data-ng-repeat="row in rows" ng-class="{danger: row.rulePerfomed == '1', success: row.rulePerfomed == false}">
          <td data-ng-bind="row.adsetData[0].adset_name"></td>
          <td data-ng-bind="row.adset"></td>
          <td data-ng-bind="row.alert.name"></td>
          <td ng-repeat=" period in vm.alertPeriods" ng-if="period.value==row.alert.period" data-ng-bind="period.name"></td>
          <td data-ng-bind="row.param"></td>
          <td data-ng-bind="row.value | number:2"></td>
          <td data-ng-bind="row.rule"></td>
          <td data-ng-bind="row.alert.value"></td>
          <td>{{row.created | date :  "dd.MM.y hh:mm:ss" }}</td>
        </tr>
      </tbody>
    </table>
    <div tasty-pagination data-ng-show="rows.length !== 0"></div>
  </div>

  <div class="alert alert-warning text-center" data-ng-if="vm.notificationevents.$resolved && !vm.notificationevents.length">
    There are no Notification Events.
  </div>
</section>
